:root {
    --bg: #0d0c22;
    --bgSoft: #2d2b42;
    --text: white;
    --textSoft: #e5e5e5;
    --btn: #3673fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1440px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1440px) {
    .container {
        width: 1200px;
    }
}
@media (max-width: 1200px) {
    .container {
        width: 1000px;
    }
}
@media (max-width: 1000px) {
    .container {
        width: 800px;
    }
}
@media (max-width: 800px) {
    .container {
        width: 600px;
    }
}
@media (max-width: 600px) {
    .container {
        width: 400px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
